{% extends "base.html" %}

{% block title_sub %} - About Us{% endblock %}

{% block jumbotron %}{% endblock %}

{% block content %}

  <h1>About</h1>
  <p>This is a description of how and why this build exists.  
    Please keep in mind that some of this might be a bit 
    of overkill, but I am attempting to use this as a site 
    for my portfolio.</p>

  <h3>The direction I am taking this site</h3>
  <span>This started out as a code challenge for an interview, but I am turning it into
    a full production site and portfolio of sorts to show what I am capable of.<br>
    I will be moving forward with the idea that this site will eventually be used throughout
    the world with millions of users, therefore I will be re-designing it as I go.<br>This will provide a    living example of how a site might evolve over time (in Github) for people to follow and use as they     grow and learn also.</span>

  <h3>Current goals</h3>
  <span>My current mind set has me working on:</span>
  <ul>
    <li>A key:value caching layer that will store all of the provider-service-line data for quick recall; I am thinking of using Redis.  The current process is a one off scenario</li>
    <li>Ansible build</li>
  </ul>

  <h3>Future goals</h3>
  <ul>
    <li>I will be creating a seperate server for RabbitMQ and Celery in order to kick off the scheduled mining of status information</li>
    <li>Load Balancer (EC2 initially)</li>
    <li>Geospacial driven content, including ads, alerts, and maps to list a few</li>
    <li>Harden with iptables, users, groups, permissions</li>
    <li>Domain and SSL</li>
    <li>Flexible storage, currently using the default for django (sqlite3, not meant for production); I am thinking Casandra (will go into availability later).</li>
    <li>S3 for local centralized media</li>
    <li>Centralized logging</li>
    <li>Vagrant build</li>
    <li>Docker</li>
    <li>Create RDS instance, perhaps MySQL for a live backup</li>
    <li>API perhaps in bottle</li>
    <li>maybe Node.js for frontend</li>
  </ul>
      

  <h3>Current Stackish:</h3>
  <ul>
    <li>EC2 instance t2.micro (ami-d05e75b8) Ubuntu-trusty-14.04...</li>
    <li>Created an EC2 Security Group (ssh only available to me and port 80 open to all)</li>
    <li>Elastic IP provisioned and assigned to this instance</li>
    <li>Nginx version: 1.4.6</li>
    <li>Gunicorn version: 19.3.0</li>
    <li>Django 1.8</li>
    <li>python 2.7</li>
    <li>sqlite 3</li>
    <li>bootstrap3</li>
    <li>Jquery</li>
    <li>jquery-cookie</li>
    <li>django-registration-redux</li>
    <li>Git</li>
    <li>Virtualenv + PIP</li>
    <li>Boundary Monitoring</li>
  </ul>

  <h3>Other tools</h3>
  <ul>
    <li>GNU screen</li>
    <li>multitail</li>
    <li>Emacs</li>
    <li>commands: ls, scp, ssh, grep, head, tail</li>
  </ul>
  

 
  <!---p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p--->

{% endblock %}
