{% extends "base.html" %}

{% block title_sub %} - About Us{% endblock %}

{% block jumbotron %}{% endblock %}

{% block content %}

  <h1>About (Much more coming!)</h1>

  <p><b>By Christopher Harty (<a href="http://asciiphilomath.com">home site</a>)</b></p>

  <p>This is a description of how and why this build exists.  
    Please keep in mind that some of this might be a bit 
    of overkill, but I am attempting to use this as a site 
    for my portfolio.</p>

  <h3>The direction I am taking this site</h3>
  <span>This started out as a code challenge for an interview, but I am turning it into
    a full production site and portfolio of sorts to show what I am capable of.<br>
    I will be moving forward with the idea that this site will eventually be used throughout
    the world with millions of users, therefore I will be re-designing it as I go.<br>This will provide a    living example of how a site might evolve over time (in Github) for people to follow and use as they     grow and learn also.</span>

  <h3>Current goals</h3>
  <span>My current mind set has me working on:</span>
  <ul>
    <li>CloudWatch ami and customer logging</li>
    <li>Elastic Beanstalk</li>
    <li>Ansible build</li>
    <li>Analytics</li>
  </ul>

  <h3>Future goals</h3>
  <ul>
    <li>Load Balancer (EC2 initially)</li>
    <li>Geospacial driven content, including ads, alerts, and maps to list a few</li>
    <li>Abstract settings into environment and have everything referenced from ENV</li>
    <li>Harden with iptables, users, groups, permissions (half done, will include in the Ansible build)</li>
    <li>Domain (Done) and SSL and update nginx for main stream with indexing and robot</li>
    <li>Flexible storage, currently using the default for django (sqlite3, not meant for production); I am thinking Casandra (will go into availability later).</li>
    <li>S3 (with boto) for local centralized media and configs</li>
    <li>Centralized logging (Done)</li>
    <li>Vagrant build</li>
    <li>Docker</li>
    <li>Create RDS instance, perhaps MySQL for a live backup</li>
    <li>API perhaps in bottle</li>
    <li>maybe Node.js for frontend</li>
    <li>Cache (not sure which)</li>
    <li>CDN</li>
    <li>social</li>
    <li>Graph database</li>
    <li>Mapreduce</li>
    <li>Linear Regression</li>
  </ul>
      

  <h3>Current Stackish:</h3>
  <ul>
    <li>Infrastructure:</li>
    <ul>
      <li>iovitals.com domain from GoDaddy forwarded to Route53 (A record); www support with cname record</li>
      <li>Only one VPC at the moment, but will be broken up later as it grows</li>
      <li>Servers: Web, Services, and Monitoring/Logging;<br> 
	with a security group for each;<br>
	Updates, general tools, security, Virtualenv, Git, and boundary have all been applied to each servers
      </li>
      <li>Current Monitoring: Boundary, top, tail, Celery Flower, Redis-cli MONITOR, ELK (Elasticsearch + Logstash + Kibana), basic CloudWatch, working on AMI & customer Cloudwatch logging.</li>
    </ul>

    <ul>
      <li>Web Server:</li>
      <ul>
	<li>EC2 Instance:</li>
	<ul>
	  <li>EC2 instance t2.micro (ami-d05e75b8) Ubuntu-trusty-14.04...</li>
	  <li>Created an EC2 Security Group (ssh only available to me and port 80 open to all)</li>
	  <li>Elastic IP provisioned and assigned to this instance</li>
	</ul>

	<li>Services:</li>
	<ul>
	  <li>Nginx version: 1.4.6</li>
	  <li>Supervisord for Gunicorn</li>
	  <li>Gunicorn version: 19.3.0</li>
	  <li>Django 1.8</li>
	  <li>sqlite 3</li>
	  <li>Logstash Forwarder (for clients)</li>
	</ul>
	
	<li>Languages:</li>
	<ul>
	  <li>python 2.7, bash, JavaScript, HTML, CSS</li>
	</ul>

	<li>3rd party packages:</li>
	<ul>
	  <li>bootstrap3</li>
	  <li>Jquery</li>
	  <li>jquery-cookie</li>
	  <li>django-registration-redux</li>
	</ul>

      </ul>

    </ul>

    <ul>
      <li>Services Server:</li>
      <ul>
	<li>EC2 Instance:</li>
	<ul>
	  <li>EC2 instance t2.micro (ami-d05e75b8) Ubuntu-trusty-14.04...</li>
	  <li>Created an EC2 Security Group (ssh only open to me)</li>
	  <li>Elastic IP provisioned and assigned to this instance</li>
	</ul>

	<li>Services:</li>
	<ul>
	  <li>Redis + redis-cli MONITOR</li>
	  <li>RabbitMQ</li>
	  <li>Celery</li>
	  <li>Logstash Forwarder (for clients)</li>
	</ul>
	
      </ul>
    </ul>

    <ul>
      <li>Logging/Monitor Server (Centralized logging):</li>
      <ul>
	<li>EC2 Instance:</li>
	<ul>
	  <li>EC2 instance t2.micro (ami-d05e75b8) Ubuntu-trusty-14.04...</li>
	  <li>Created an EC2 Security Group (ssh only open to me)</li>
	  <li>Elastic IP provisioned and assigned to this instance</li>
	</ul>

	<li>Services:</li>
	<ul>
	  <li>Nginx version: 1.4.6</li>
	  <li>Logstash Server(with SSL)</li>
	  <li>Elasticsearch</li>
	  <li>Kibana</li>
	</ul>
	
	<li>Languages:</li>
	<ul>
	  <li>Java 8</li>
	</ul>
	
      </ul>
    </ul>



    {% comment %}<li>added fluentd (curl -L https://td-toolbelt.herokuapp.com/sh/install-ubuntu-trusty-td-agent2.sh | sh)</li>{% endcomment %}
  </ul>

  <h3>Other tools</h3>
  <ul>
    <li>GNU screen</li>
    <li>multitail</li>
    <li>Emacs</li>
    <li>commands: ls, scp, ssh, grep, head, tail, ln...</li>
  </ul>
  

 
  <!---p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p--->

{% endblock %}
